<!DOCTYPE html>
<html lang="en">

<head>
  {{> _head }}
</head>

<body class="h-screen text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-dark-primary overflow-hidden">
  <div class="max-w-sm mt-40 flex flex-col mx-auto">
    {{{body}}}
  </div>
</body>

</html>