<div class="flex flex-col items-center flex-grow max-w-sm p-6 rounded-lg shadow-xl mx-10 sm:mx-0 mb-4 dark-mode:text-pink-light ">
    <img src="/img/cocktail.svg" alt="Login image" class="mb-2">
    <h1 class="text-2xl font-black mb-2">SE Cocktails</h1>


</div>
<div>
  {{> _login_btn authLink="/auth/google" fa-icon="fab fa-google" buttonText="Mit Google anmelden" colorClass="bg-red-500"}}
  {{> _login_btn authLink="/" fa-icon="fab fa-facebook" buttonText="Facebook (coming soon)" colorClass="bg-blue-500"}}
</div>
