{{> _header }}
<h1 class="text-2xl font-black m-8 text-center dark-mode:text-pink-light">{{listTitle}}</h1>
{{#if cocktails}}
<div class="cocktail-list flex flex-row flex-wrap justify-center items-start">
    {{#if dashboard}}
        {{#each cocktails}}
            {{> _card dashboard=true}}
        {{/each}}
    {{else}}
        {{#each cocktails}}
            {{> _card}}
        {{/each}}
    {{/if}}
</div>
{{else}}
    <p class="text-center">Noch keine Cocktails vorhanden.</p>
{{/if}}