<div class="flex flex-col justify-center max-w-xs md:max-w-sm mx-auto h-full">
    <h1 class="text-2xl text-center font-black mb-2 text-pink-dark">Seite nicht gefunden</h1>
    <img src="/img/404_page_not_found_.svg" alt="404 image">
    <div class="py-4 mx-auto">
        <button onclick="window.history.back();">
            <div class="bg-pink-lightest text-gray-dark rounded-full">
                <p class="px-2 py-1 font-bold">Zurück</p>
            </div>
        </button>
    </div>
</div>
